
body {
  background-color: #F0FFFF;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-weight: 900;
  font-size: 4rem
}

h2{
  font-weight: 900;
  font-size: 2rem
}

h3{
  font-weight: 600;
  font-size: 1.2rem
}
h4{
  font-weight: 400;
  font-size: 1.2rem;
}

p{
  margin-bottom: .5rem;
}

/* Title Section */

.title{
  background-image: linear-gradient(to bottom right, #2C3E50, #95A5A6);
  color: #F0FFFF;
}

.navbar{
  padding-bottom: 3rem;
}

.nav-item{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem
}

.title-container{
  padding: 2% 5%;
}

.really{
  margin: 5rem auto 0 auto;
}

.strapline{

}

.title-image{
  width: 50%;
  margin: 50px auto 50px 0;
  transform: rotate(-25deg);
}

/* Features Section */

.feature-box{
  text-align: center;
  padding: 3% 5%
}

.feature-image{
  width: 30%;
  margin-bottom: 1rem;
}

.download-button{
  margin-top: 5%
}

/* Contact Section */

.contact{
  padding: 2% 5% 5% 5%;
}

/* Product Pages */

.product-outline{
  padding: 2% 10% 5% 10%;
  background-image: linear-gradient(to bottom right, #2C3E50, #95A5A6);
  color: #F0FFFF;
}
.features{
  padding: 2% 10% 5% 10%;
}

.instructions{
  padding: 2% 10% 5% 10%;
}
.product-image{
  width: 30%;
}

/* Privacy Pages */
.privacy-intro{
  padding: 2% 10% 5% 10%;
  background-image: linear-gradient(to bottom right, #2C3E50, #95A5A6);
  color: #F0FFFF;
}
.privacy-body{
  padding: 2% 10% 5% 10%;
}
